<form asp-action="GiaPhuongTrinhBac2">
    <label>HesoA</label>
    <input type="text" name="hesoA">
    <label>HesoB</label>
    <input type="text" name="hesoB">
    <label>HesoC</label>
    <input type="text" name="hesoC">
    <input type="submit" value="Giai phuong trinh"
</form>